@model IEnumerable<CASecurity.Web.Models.BankModel>

@{
    ViewBag.Title = "Bank";
}
<script src="~/Scripts/Views/bank.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <h4>Banks</h4>
            <button id="btnCreate" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Create</button><br />
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        @*<th>#</th>*@
                        <th>Name</th>
                        <th>Code</th>
                        <th>Address </th>
                        <th>Contact Person Name </th>
                        <th>Contact Person Email Id </th>
                        <th>Contact Person Mobile No </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.ContactPersonName
                            </td>
                            <td>
                                @item.ContactPersonEmailId
                            </td>
                            <td>
                                @item.ContactPersonMobileNo
                            </td>
                            <td>
                                <button class="btn btnEdit btn-success" data-id="@item.Id">Modify</button>
                                @*@Html.ActionLink("Remove", "DeleteBank", "Admin", new { id = item.Id }, new { @class="btn btnRemove btn-danger", @onclick = "return ConfirmDialog('Are you sure you wish to delete?');" })*@
                                <button class="btn btnRemove btn-danger" data-url="@Url.Action("DeleteBank", "Admin", new { id = item.Id })" onclick="ConfirmDialog(this, 'Are you sure you wish to delete?');">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div id="createBank">
            </div>
        </div>
    </div>
</div>