@{
    ViewBag.Title = "Merchant";
}

@model IEnumerable<CASecurity.Web.Models.MerchantModel>
<script src="~/Scripts/Views/merchant.js?=1.0"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <h4>Merchants</h4>
            <button id="btnCreate" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Create</button><br />
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Address </th>
                        <th>Bank</th>
                        <th>BRC</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.Bank
                            </td>
                            <td>
                                @item.BRC
                            </td>
                            <td>
                                @*<button class="btn btn-success">Modify</button>*@
                                @*<button class="btn btn-danger">Remove</button>*@
                                <button class="btn btnEdit btn-success" data-id="@item.Id">Modify</button>
                                <button class="btn btnRemove btn-danger" data-url="@Url.Action("DeleteMerchant", "Admin", new { id = item.Id })" onclick="ConfirmDialog(this, 'Are you sure you wish to delete?');">Remove</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createMerchantModel" role="dialog">
        <div class="modal-dialog">
            <div id="createMerchant">
            </div>
        </div>
    </div>
</div>